body {
    font-family: Arial;
    background: #f0f2f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #001a33;
    color: white;
    padding: 20px;
}

.logo {
    width: 120px;
    display: block;
    margin: auto;
}

.menu button {
    width: 90%;
    margin: 10px;
    padding: 15px;
    background: #004aad;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}
